@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
  @apply transition-colors duration-100;
}

/* .overflow {
  height: 50%;
  overflow: hidden;
} */

.overflow .card-img-top {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.overflow .card-img-top:hover {
  transform: scale(1.8);
}
